<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>Authentication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <%= link_to root_path, class: "flex justify-center" do %>
          <span class="text-2xl font-bold">Page</span>
        <% end %>
      </div>

      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <% if notice %>
            <%= render Ui::Alert::Component.new(type: :success, message: notice, dismissible: true) %>
          <% end %>
          
          <% if alert %>
            <%= render Ui::Alert::Component.new(type: :error, message: alert, dismissible: true) %>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
